@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;

  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text-main: #1f2937;
  --color-text-secondary: #6b7280;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;

  background: var(--color-background);
  color: var(--color-text-main);

  font-family:
    Inter,
    Arial,
    sans-serif;
}

button {
  cursor: pointer;
}